.eventInfo{
  padding-top: 37px;
}
.eventInfo h3{
  font-weight: 400;
  color: #514E51;
  font-size: 20px;
}
h4.eventDate{
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
}
.eventContent{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
.btn-success{
  font-size: 16px;
}
